.createTimeOff-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
}

.createTimeoff-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.createTimeoff-form input[type="date"],
.createTimeoff-form input[type="text"],
.createTimeoff-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 0.9em;
  margin-left: 0.5em;
  background-color: whitesmoke;
}

.dialog-buttons {
  display: flex;
  gap: 2em;
  align-items: center;
}

.book-timeoff {
  background-color: white;
}

label{
     display: flex;
    justify-content: center;
}