.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 0.5em; 
}


.titleContainer h1{
  font-size: 1.6em;
    color:  grey;
    font-family:  Helvetica, sans-serif,
    font-
    
    
}

.titleContainer span{
  color:  green;
  font-size: 1.2em;
}

.logo{
  height: 8em;
}
